body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.btn-class{
  width:100%;
  text-align: center;
}
button{
  margin-bottom: 0px;
  border: 0px;
  border-color: white;
  background-color: #fff;
}
.btn-class{
  margin-top: 40px;
}
#kospiON{
  font-weight: bolder;
}
#kosdaqON{
  font-weight: bold;
}
button:hover{
  font-weight: bold;
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
#navbar ul li a{
    background-color: transparent;
    color:#222;
}
#navbar ul li :hover{
    background-color: transparent;
    font-weight: bolder;
    color:#222;
}
.navbar-header a{
    background-color: transparent;
    color:#222;
}
