<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>증시 정보</title>

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/dashboard.css" rel="stylesheet">
  <link href="../static/css/base.css" rel="stylesheet">

  <script src="../static/js/jquery-3.6.0.min.js"></script>

  <script type="text/javascript" src="../static/js/dashboard.js"></script>
  <!--<script src="js/ie-emulation-modes-warning.js"></script>-->
  <style media="screen">
    #notVisible{
      visibility:collapse;
    }
    #tableHead {
      width: 100%;
      border-collapse: collapse;
    }
    #tableHead th {
      position: sticky;
      top: 0px;
    }
  </style>
  <script type="text/javascript">
    function press(f) {
      if (f.keyCode == 13) {
        formname.submit(); //formname에 사용자가 지정한 form의 name입력
      }
    }
  </script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index">CAPSTONE DESIGN</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/dashboard">증시 정보</a></li>
          <li><a href="/analysis">분석 결과</a></li>
          <li><a href="/predic">주가 예측</a></li>
          <li><a href="/mock">모의 투자</a></li>
        </ul>
        <form method="get" name="formname" action="/search" class="navbar-form navbar-right">
          <input type="input" id="search" class="form-control" placeholder="종목 검색..." required name="search" onkeypress="JavaScript:press(this.form)" />
        </form>
      </div>
    </div>
  </nav>

  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#today">오늘의 증시<span class="sr-only">(current)</span></a></li>
      <li class="active"><a href="#total">시가 총액</a></li>
      <li class="active"><a href="#change">환전 고시 환율</a></li>
      <li class="active"><a href="#change2">국제 시장 환율</a></li>
      <li class="active"><a href="#oil">유가·금시세</a></li>
      <li class="active"><a href="#rate">금리</a></li>
      <li class="active"><a href="#materials">원자제</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <br id="today">
    <br>

    <h1>오늘의 증시</h1>
    <br>
    <div class="text-center" style="overflow: auto" >
      <div class="col-xs-4" >
        <img src="../static/data/dashboard/KOSPI.jpg" class="img-responsive center-block">
        <div class="text-centor" id="KOSPItext"></div>
        <div class="text-centor" id="KOSPItable"></div>
      </div>
      <div class="col-xs-4"  >
        <img src="../static/data/dashboard/KOSDAQ.jpg" class="img-responsive center-block">
        <div class="text-centor" id="KOSDAQtext"></div>
        <div class="text-centor" id="KOSDAQtable"></div>
      </div>
      <div class="col-xs-4">
        <img src="../static/data/dashboard/KOSPI200.jpg" class="img-responsive center-block">
        <div class="text-centor" id="KOSPI200text"></div>

      </div>
    </div>

    <br id="total">
    <br>
    <h1>시가 총액</h1>
    <br>
    <div id="MarketCapitalizationTable" , class="Table1" style="overflow: auto"></div>
    <br id="change">
    <br>
    <h1 id="change">환전 고시 환율</h1>
    <br>
    <div id="exchangeRateTable" , class="Table" style="overflow: auto"></div>
    <br id="change2">
    <br>
    <h1 id="change2">국제 시장 환율</h1>
    <br>
    <div id="nationMarketRateTable" , class="Table" style="overflow: auto"></div>
    <br id="oil">
    <br>
    <h1 id="oil">유가·금시세</h1>
    <br>
    <div id="goldOilTable" , class="Table" style="overflow: auto"></div>

    <br id="rate">
    <br>
    <h1 id="rate">금리</h1>
    <br>
    <div id="interestRateTable" , class="Table2" style="overflow: auto"></div>
    <br id="materials">
    <br>
    <h1 id="materials">원자제</h1>
    <br>

    <h3>에너지 선물</h3>
    <div id="energyTable" , class="Table" style="overflow: auto"></div>
    <h3>비철금속 현물</h3>
    <div id="nonMetalTable" , class="Table2" style="overflow: auto"></div>
    <h3>농산물 선물</h3>
    <div id="cropsTable" , class="Table2" style="overflow: auto"></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
